
.right_box{
    width: 38%;
	float: right;
    vertical-align: top;
    margin-right: 5px;
    margin-left: 5px;
}

.grid{
    display: grid;
    width: 100%;
    padding-top: 15px;
}

.swot-style-title{
    text-align: center;
    font-size: 15pt;
    font-weight: bold;
    margin-bottom: 15px;
}

.swot-style-type-1{
    vertical-align: top;
    text-align: center;
    font-size: 15pt;
    font-weight: bold;
    grid-column: 1;
    grid-row: 1;
}
.swot-style-1{
    vertical-align: top;
    font-size: 10pt;
    grid-column: 1;
    grid-row: 2;
}
.swot-style-type-2{
    vertical-align: top;
    text-align: center;
    font-size: 15pt;
    font-weight: bold;
    grid-column: 2;
    grid-row: 1;
}
.swot-style-2{
    vertical-align: top;
    font-size: 10pt;
    grid-column: 2;
    grid-row: 2;
}
.swot-style-type-3{
    vertical-align: top;
    text-align: center;
    font-size: 15pt;
    font-weight: bold;
    grid-column: 1;
    grid-row: 3;
}
.swot-style-3{
    vertical-align: top;
    font-size: 10pt;
    grid-column: 1;
    grid-row: 4;
}
.swot-style-type-4{
    vertical-align: top;
    text-align: center;
    font-size: 15pt;
    font-weight: bold;
    grid-column: 2;
    grid-row: 3;
}
.swot-style-4{
    vertical-align: top;
    font-size: 10pt;
    grid-column: 2;
    grid-row: 4;
}


.body-style{
    background-color:#efefef;
}
  
/* свойства модального окна по умолчанию */
.modal {
    position: absolute; /* фиксированное положение */
    top: 10%;
    right: 10%;
    bottom: 10%;
    left: 10%;
    background: white; /* цвет фона */
    z-index: 9999;
    opacity: 1; /* по умолчанию модальное окно прозрачно */
    -webkit-transition: opacity 200ms ease-in; 
    -moz-transition: opacity 200ms ease-in;
    transition: opacity 200ms ease-in; /* анимация перехода */
    margin: 0;
    padding: 0;
    display: none;
    border: grey;
    border-width: 2px;
    border-radius: 12px;
    box-shadow: 0 0 10px rgba(122,122,122,0.5);
}

/* при отображении модального окно */
.modal:target {
    opacity: 1; /* делаем окно видимым */
	  pointer-events: auto; /* элемент видим для событий мыши */
    overflow-y: auto; /* добавляем прокрутку по y, когда элемент не помещается на страницу */


/* свойства для кнопки "Закрыть" */
}
.close {
    float: right;
    font-size: 40px;
    line-height: 1;
    color: #000;
    opacity: .5;
    text-decoration: none;
    margin-right: 10px;
    padding-right: 10px;
}
/* свойства для кнопки "Закрыть" при нахождении её в фокусе или наведении */
.close:focus, .close:hover {
    color: #000;
    text-decoration: none;
    cursor: pointer;
    opacity: .75;
}

.modal_content{
    height: 100%;
    overflow: auto;
    border: grey;
    border-width: 2px;
    padding: 10px;
    border: grey;
}

